name: Deploy to dev
env:
  IMAGE: hansards-front
  ENVIRONMENT: development
on:
  push:
    branches:
      - development
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "yarn"
      # Configure AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::767397910274:role/github-oidc-provider-aws
          aws-region: ap-southeast-1
      # Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      # Load NEXT_PUBLIC envs from Secret JSON
      - name: Load NEXT_PUBLIC envs from JSON secret
        run: |
          echo '${{ secrets.DEV_NEXT_PUBLIC_ENV }}' | jq '.' > next_public_env.json
          jq -r 'to_entries[] | "\(.key)=\(.value)"' next_public_env.json >> $GITHUB_ENV
      # Load server-only API envs from Secret JSON
      - name: Load NEXT_API envs from JSON secret
        run: |
          echo '${{ secrets.DEV_NEXT_API_ENV }}' | jq '.' > next_api_env.json
          jq -r 'to_entries[] | "\(.key)=\(.value)"' next_api_env.json >> $GITHUB_ENV
      # Build Next.js app
      - name: Build Next.js (Amplify)
        run: yarn build
      # Deploy to Amplify
      - name: Deploy to Amplify
        run: |
          aws amplify start-job \
            --app-id ${{ secrets.AMPLIFY_APP_ID }} \
            --branch-name development \
            --job-type RELEASE
