name: Deploy to prod
env:
  IMAGE: hansards-front
  ENVIRONMENT: production
on:
  push:
    branches:
      - main
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Placeholder
        run: echo "Deployment steps are defined in amplify.yml"
